<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% bloc title%} {% endblock %}</title>
</head>
<body>
<h1>ха-ха</h1>
{% include 'data.twig' %}

<div id="cars">
    {% block car %}
    {% endblock %}
</div>
</body>
</html>